<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>List Users</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container text-center">
	<div>	
		<h1>User list</h1>
	</div>
	<div>
		<h3><a th:href="@{/users/new}">Create User</a></h3>
	</div>
	<div>
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Email</th>
					<th>Movies</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="user : ${listUsers}">
				<tr>
					<td>[[${user.id}]]</td>
					<td>[[${user.email}]]</td>
					<td>[[${user.movies}]]</td>
					<td>
						<a th:href="@{'/users/addMovie/'+ ${user.id}}">Add Movie</a>
						<a th:href="@{'/users/edit/'+ ${user.id}}">Edit</a>
						<a th:href="@{'/users/delete/'+ ${user.id}}">Delete</a>
					</td>
				</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>